#hideTemp{
    visibility: hidden;
    height: 0px;
}

@import '../../styles.scss';

.mdc-layout-grid{
    height: 100%;
    background-color: $mdc-theme-primary;
}

.card{
    background-color: $back-color;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    //use variables 
    @media screen and (min-width: 840px){
        width: 400px;
        height: 600px;
        border-radius: 30px;
        margin: auto;
    }

    @media screen and (max-width: 840px){
        width: 100%;
        height: 100%;
        border-radius: 0px;
        margin: auto;
    }
   
}

