
<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell
    mdc-layout-grid__cell--span-3-desktop
    mdc-layout-grid__cell--span-2-tablet
     mdc-layout-grid__cell--span-0-mobile">
    </div>
    <div class="mdc-layout-grid__cell
    mdc-layout-grid__cell--span-6-desktop
    mdc-layout-grid__cell--span-10-tablet
     mdc-layout-grid__cell--span-12-mobile">
      <div class="t"></div>
    </div>
    <div class="mdc-layout-grid__cell
    mdc-layout-grid__cell--span-3-desktop
     mdc-layout-grid__cell--span-2-tablet
     mdc-layout-grid__cell--span-0-mobile
     "></div>
  </div>
</div>



<div id='hideTemp' class="row">
  <div class="col-md-6">
    <form name="loginForm" #f="ngForm" (ngSubmit)="logIn(f)">
      <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" required email type="email" ngModel #email="ngModel" name="email" id="email">
      </div>
      <div class="form-group">
          <label for="email">Password</label>
          <input class="form-control" required min-length="6" type="password" ngModel #password="ngModel" name="password" id="password">
      </div>
      <div class="form-group">
          <button [disabled]="!f.valid" class="btn btn-primary">Log in</button>     
          <button class="btn btn-primary" (click)="signUp()" >Sign Up </button>
        </div>
    </form>
  </div> 
</div>
