<mdc-dialog>
  <mdc-dialog-surface>
    <mdc-dialog-header title="Add a new note"></mdc-dialog-header>
    <mdc-dialog-body>
      <form name="noteForm" #f="ngForm">
        <div class="form-group">
          <label for="title">Title</label>
          <input [(ngModel)] ="note.title" class="form-control" name="name" id="name">
        </div>
        <div class="form-group">
            <label for="text">Text</label>
            <input [(ngModel)] ="note.text" class="form-control" name="text" id="text">
        </div>
      </form>
    </mdc-dialog-body>
    <mdc-dialog-footer>
        <button mdcIconButton name="demoiconbutton" iconOn="delete" iconOff="delete" (click)="deleteNote()"></button>
      <button mdc-dialog-button [cancel]="true">Decline</button>
      <button  [disabled]="!f.valid" mdc-dialog-button [accept]="true" (click)="saveNote()">Accept</button>
    </mdc-dialog-footer>
  </mdc-dialog-surface>
</mdc-dialog>