<!--<div class="row">
  <div class="col-md-6">
    <form name="noteForm" #f="ngForm">
      <div class="form-group">
        <label for="title">Title</label>
        <input [(ngModel)] ="note.title" class="form-control" name="name" id="name">
      </div>
      <div class="form-group">
          <label for="text">Text</label>
          <input [(ngModel)] ="note.text" class="form-control" name="text" id="text">
      </div>
      <div class="form-group">
          <button [disabled]="!f.valid" class="btn btn-primary" (click)="saveNote()">Save</button>
        </div>
    </form>
  </div>
</div>-->

<mdc-dialog>
  <mdc-dialog-surface>
    <mdc-dialog-header title="Use Google's location service?"></mdc-dialog-header>
    <mdc-dialog-body>
      Let Google help apps determine location. This means sending anonymous location data to Google, even when no apps are running.
    </mdc-dialog-body>
    <mdc-dialog-footer>
      <button mdc-dialog-button [cancel]="true">Decline</button>
      <button mdc-dialog-button [accept]="true" (click)="closeDialog()">Accept</button>
    </mdc-dialog-footer>
  </mdc-dialog-surface>
</mdc-dialog>