<div class="container-main">
    <div class="navbar">
        <div class="logo">
            <p class="title">
                <span>
                    Note
                </span>
                <span class="second-word">
                    App
                </span>
            </p>
        </div>
        <div class="actions">
            <div class="search-bar-container">
                <input class="search-bar" type="text" placeholder="Search...">
            </div>
            <div class="user-info-container">
                <app-navbar></app-navbar>
            </div>
            <i class="material-icons navbar-icon">search</i>
            <i class="material-icons navbar-icon">more_vert</i>
        </div>
        
    </div>

  
    <button class="btn btn-primary" (click) ="createNote()"> Add note </button>

    <div app-note 
        *ngFor="let note of notes" 
        [note-data] = "note" 
        (onDeleteNote) = "onDeleteNote($event)"
    >
    </div>
</div>
