@import '../../styles.scss';

.container-main{
    background-color: $back-color;
}

.masonry-image-list {
    @include mdc-image-list-masonry-columns(4);
    width: 1200px;

    @media (max-width: 1200px) {
      @include mdc-image-list-masonry-columns(3);    
      width: 1000px;
    }

    @media (max-width: 950px) {
      @include mdc-image-list-masonry-columns(2);    
      width: 650px;
    }

    @media (max-width: 650px) {
      @include mdc-image-list-masonry-columns(1);    
      width: 350px;
    }

  }
  
  
