/* You can add global styles to this file, and also import other style files */
$mdc-theme-primary: rgb(255,196,0); // primary color
$mdc-theme-secondary: rgb(68,68,68); // secondary color
$back-color: #F9F9F9;

$mdc-layout-grid-default-margin: (
  desktop: 0px,
  tablet: 0px,
  phone: 0px
) !default;

$mdc-layout-grid-default-gutter: (
  desktop: 0px,
  tablet: 0px,
  phone: 0px
) !default;

@import "~@angular-mdc/theme/material";

